@{
    ViewBag.Title = "Home Page";
}


    <center>
        <h1>欢迎使用逗睐殿餐平台后台管理</h1>
        @*<img src="https://tianshu.gtimg.cn/tianshu/1592895049121.gif" alt="摸鱼" />*@
        <img src="../style/images/u=3261562696,3427771316&fm=26&gp=0.png" />
    </center>
